* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-weight: 200;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 4em;
  font-weight: 400;
  margin: 0 0 20px;
  text-align: center;
  text-shadow: 1px 1px 0 #fff, 2px 2px 0 #bbb;
}
hr {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
  margin: 25px 0;
  clear: both;
}
.bg-wrap{
  background: #f2f2f2 url(../images/bg.jpg) no-repeat top center; 
}
form{
  text-align: center;
  margin: 0 auto;
}
input#search{
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  width: 300px;
  transition: border 0.3s;
  -webkit-transition: border 0.3s;
  -moz-transition: border 0.3s;
  -o-transition: border 0.3s;
}
input#search:focus{
  border-bottom: solid 2px #969696;
}
button#submit{
  color: #fff;
  text-shadow: -2px 2px #346392;
  background-color: #ff9664;
  background-image: -webkit-linear-gradient(top, #6496c8, #346392);
  background-image: -moz-linear-gradient(top, #6496c8, #346392);
  background-image: -o-linear-gradient(top, #6496c8, #346392);
  background-image: linear-gradient(top, #6496c8, #346392);
  box-shadow: inset 0 0 0 1px #27496d;
  border: none;
  border-radius: 5px;
  height: 35px;
  padding: 10px;
  margin-left: 4px;
}
button#submit:hover{
  box-shadow: inset 0 0 0 1px #27496d,0 3px 3px #193047;
}
button#submit:active{
  box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
}
#ajax-loader{
  position: relative;
  top: 10px;
}
.centered {
  text-align: center;
}
.wrapper {
  width: 100%;
  padding: 30px 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
section{
  position: relative;
  clear: both;
  margin-top: 50px;
}
/* class for 4 columns */
ul.grid-nav {
  list-style: none;
  font-size: .85em;
  font-weight: 200;
}
ul.grid-nav-tab{
  text-align: center;
}
ul.grid-nav li {
  display: inline-block;
}
ul.grid-nav li a {
  display: inline-block;
  background: #999;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
ul.grid-nav li a:hover {
  background: #7b0;
}
ul.grid-nav li a.active {
  background: #333;
}
ul.grid-nav li a.read-more{
  margin-top: 20px;
}
.grid-container {
  display: block;
}
ul.rig {
  list-style: none;
  font-size: 0;
  margin-left: -2.5%; /* should match li left margin */
}
ul.rig li {
  display: inline-block;
  padding: 10px;
  margin: 0 0 2.5% 2.5%;
  background: #fff;
  border: 1px solid #ddd;
  font-size: 16px;
  font-size: 1rem;
  vertical-align: top;
  box-shadow: 0 0 5px #ddd;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align:center;
}
ul.rig li img {
  max-width: 100%;
  height: 150px;
  margin: 0 auto 10px;
}
ul.rig li h3 {
  margin: 0 0 5px;
}
ul.rig li p{
  font-size: 14px;
  line-height: 1.5em;
  color: #999;
  text-align: center;
}
ul.rig li p.item-p{
  font-size: 14px;
  line-height: 1.5em;
  color: #999;
  text-align: center;
  display: inline-block;
  background: #999;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
ul.rig li p.title {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  padding-top: 10px;
  height: 210px;
  margin: 10px auto 0;
  color: #999;
  font-size: 14px;
  line-height: 1.5em;
  color: #999;
  text-align: center;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
ul.rig.columns-4 li {
  width: 22.5%; /* this value + 2.5 should = 25% */
  height: 360px;
}

audio.audio-label{
  width: 100%;
  position: relative;
  background: #cbc385;
}
/*Webhose related news row*/
#col-2-news{
  font-family: 'Droid Serif', serif;
  font-weight: normal;
}
.col-2-news-2{
  font-family: 'Merriweather', serif;
  font-style: italic;
}
.col-2-news-2 a{
  text-decoration: none;
  color: #cbc385;
}
.col-2-news-2 a:hover{
  text-decoration: underline;
  color: #999;
}
